<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="geoProvince">
            <h2><span jhiTranslate="sidotApp.geoProvince.detail.title">Geo Province</span> {{ geoProvince.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sidotApp.geoProvince.libelle">Libelle</span></dt>
                <dd>
                    <span>{{ geoProvince.libelle }}</span>
                </dd>
                <dt><span jhiTranslate="sidotApp.geoProvince.georegion">Georegion</span></dt>
                <dd>
                    <div *ngIf="geoProvince.georegionId">
                        <a [routerLink]="['/geo-region', geoProvince.georegionId, 'view']">{{ geoProvince.georegionId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/geo-province', geoProvince.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
