<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="produitChimique">
            <h2><span jhiTranslate="sidotApp.produitChimique.detail.title">Produit Chimique</span> {{ produitChimique.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sidotApp.produitChimique.libelle">Libelle</span></dt>
                <dd>
                    <span>{{ produitChimique.libelle }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/produit-chimique', produitChimique.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
