<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-geu-realisation-heading" jhiTranslate="sidotApp.geuRealisation.home.createOrEditLabel">Create or edit a Geu Realisation</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sidotApp.geuRealisation.nbRealisation" for="field_nbRealisation">Nb Realisation</label>
                    <input type="number" class="form-control" name="nbRealisation" id="field_nbRealisation"
                           formControlName="nbRealisation"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sidotApp.geuRealisation.geuaaouvrage" for="field_geuaaouvrage">Geuaaouvrage</label>
                    <select class="form-control" id="field_geuaaouvrage" name="geuaaouvrage" formControlName="geuaaouvrageId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="geuAaOuvrageOption.id" *ngFor="let geuAaOuvrageOption of geuaaouvrages; trackBy: trackById">{{ geuAaOuvrageOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
