<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="geuRealisation">
            <h2><span jhiTranslate="sidotApp.geuRealisation.detail.title">Geu Realisation</span> {{ geuRealisation.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sidotApp.geuRealisation.nbRealisation">Nb Realisation</span></dt>
                <dd>
                    <span>{{ geuRealisation.nbRealisation }}</span>
                </dd>
                <dt><span jhiTranslate="sidotApp.geuRealisation.geuaaouvrage">Geuaaouvrage</span></dt>
                <dd>
                    <div *ngIf="geuRealisation.geuaaouvrageId">
                        <a [routerLink]="['/geu-aa-ouvrage', geuRealisation.geuaaouvrageId, 'view']">{{ geuRealisation.geuaaouvrageId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/geu-realisation', geuRealisation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
