<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="geoLot">
            <h2><span jhiTranslate="sidotApp.geoLot.detail.title">Geo Lot</span> {{ geoLot.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sidotApp.geoLot.libelle">Libelle</span></dt>
                <dd>
                    <span>{{ geoLot.libelle }}</span>
                </dd>
                <dt><span jhiTranslate="sidotApp.geoLot.geosection">Geosection</span></dt>
                <dd>
                    <div *ngIf="geoLot.geosectionId">
                        <a [routerLink]="['/geo-section', geoLot.geosectionId, 'view']">{{ geoLot.geosectionId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/geo-lot', geoLot.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
