<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="geuPSA">
            <h2><span jhiTranslate="sidotApp.geuPSA.detail.title">Geu PSA</span> {{ geuPSA.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sidotApp.geuPSA.dateElaboration">Date Elaboration</span></dt>
                <dd>
                    <span>{{ geuPSA.dateElaboration }}</span>
                </dd>
                <dt><span jhiTranslate="sidotApp.geuPSA.dateMiseEnOeuvre">Date Mise En Oeuvre</span></dt>
                <dd>
                    <span>{{ geuPSA.dateMiseEnOeuvre }}</span>
                </dd>
                <dt><span jhiTranslate="sidotApp.geuPSA.geocommune">Geocommune</span></dt>
                <dd>
                    <div *ngIf="geuPSA.geocommuneId">
                        <a [routerLink]="['/geo-commune', geuPSA.geocommuneId, 'view']">{{ geuPSA.geocommuneId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/geu-psa', geuPSA.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
