<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="geoParcelle">
            <h2><span jhiTranslate="sidotApp.geoParcelle.detail.title">Geo Parcelle</span> {{ geoParcelle.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sidotApp.geoParcelle.libelle">Libelle</span></dt>
                <dd>
                    <span>{{ geoParcelle.libelle }}</span>
                </dd>
                <dt><span jhiTranslate="sidotApp.geoParcelle.geolot">Geolot</span></dt>
                <dd>
                    <div *ngIf="geoParcelle.geolotId">
                        <a [routerLink]="['/geo-lot', geoParcelle.geolotId, 'view']">{{ geoParcelle.geolotId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/geo-parcelle', geoParcelle.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
