<div>
    <h2 id="page-heading">
        <span jhiTranslate="sidotApp.previsionAssainissementAu.home.title">Prevision Assainissement Aus</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-prevision-assainissement-au" [routerLink]="['/prevision-assainissement-au/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="sidotApp.previsionAssainissementAu.home.createLabel">
            Create a new Prevision Assainissement Au
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="previsionAssainissementAus?.length === 0">
        <span jhiTranslate="sidotApp.previsionAssainissementAu.home.notFound">No previsionAssainissementAus found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="previsionAssainissementAus && previsionAssainissementAus.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nbLatrine"><span jhiTranslate="sidotApp.previsionAssainissementAu.nbLatrine">Nb Latrine</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nbPuisard"><span jhiTranslate="sidotApp.previsionAssainissementAu.nbPuisard">Nb Puisard</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nbPublic"><span jhiTranslate="sidotApp.previsionAssainissementAu.nbPublic">Nb Public</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nbScolaire"><span jhiTranslate="sidotApp.previsionAssainissementAu.nbScolaire">Nb Scolaire</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="centreDeSante"><span jhiTranslate="sidotApp.previsionAssainissementAu.centreDeSante">Centre De Sante</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="population"><span jhiTranslate="sidotApp.previsionAssainissementAu.population">Population</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="refanneeId"><span jhiTranslate="sidotApp.previsionAssainissementAu.refannee">Refannee</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="centreId"><span jhiTranslate="sidotApp.previsionAssainissementAu.centre">Centre</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let previsionAssainissementAu of previsionAssainissementAus ;trackBy: trackId">
                    <td><a [routerLink]="['/prevision-assainissement-au', previsionAssainissementAu.id, 'view']">{{ previsionAssainissementAu.id }}</a></td>
                    <td>{{ previsionAssainissementAu.nbLatrine }}</td>
                    <td>{{ previsionAssainissementAu.nbPuisard }}</td>
                    <td>{{ previsionAssainissementAu.nbPublic }}</td>
                    <td>{{ previsionAssainissementAu.nbScolaire }}</td>
                    <td>{{ previsionAssainissementAu.centreDeSante }}</td>
                    <td>{{ previsionAssainissementAu.population }}</td>
                    <td>
                        <div *ngIf="previsionAssainissementAu.refanneeId">
                            <a [routerLink]="['/ref-annee', previsionAssainissementAu.refanneeId , 'view']" >{{ previsionAssainissementAu.refanneeId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="previsionAssainissementAu.centreId">
                            <a [routerLink]="['/centre', previsionAssainissementAu.centreId , 'view']" >{{ previsionAssainissementAu.centreId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/prevision-assainissement-au', previsionAssainissementAu.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/prevision-assainissement-au', previsionAssainissementAu.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(previsionAssainissementAu)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="previsionAssainissementAus && previsionAssainissementAus.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
