<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="geoCommune">
            <h2><span jhiTranslate="sidotApp.geoCommune.detail.title">Geo Commune</span> {{ geoCommune.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sidotApp.geoCommune.libelle">Libelle</span></dt>
                <dd>
                    <span>{{ geoCommune.libelle }}</span>
                </dd>
                <dt><span jhiTranslate="sidotApp.geoCommune.geoprovince">Geoprovince</span></dt>
                <dd>
                    <div *ngIf="geoCommune.geoprovinceId">
                        <a [routerLink]="['/geo-province', geoCommune.geoprovinceId, 'view']">{{ geoCommune.geoprovinceId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="sidotApp.geoCommune.geotypecommune">Geotypecommune</span></dt>
                <dd>
                    <div *ngIf="geoCommune.geotypecommuneId">
                        <a [routerLink]="['/geo-type-commune', geoCommune.geotypecommuneId, 'view']">{{ geoCommune.geotypecommuneId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/geo-commune', geoCommune.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
