<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="directionRegionale">
            <h2><span jhiTranslate="sidotApp.directionRegionale.detail.title">Direction Regionale</span> {{ directionRegionale.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sidotApp.directionRegionale.libelle">Libelle</span></dt>
                <dd>
                    <span>{{ directionRegionale.libelle }}</span>
                </dd>
                <dt><span jhiTranslate="sidotApp.directionRegionale.responsable">Responsable</span></dt>
                <dd>
                    <span>{{ directionRegionale.responsable }}</span>
                </dd>
                <dt><span jhiTranslate="sidotApp.directionRegionale.contact">Contact</span></dt>
                <dd>
                    <span>{{ directionRegionale.contact }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/direction-regionale', directionRegionale.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
