<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="geuRaccordement">
            <h2><span jhiTranslate="sidotApp.geuRaccordement.detail.title">Geu Raccordement</span> {{ geuRaccordement.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sidotApp.geuRaccordement.numAbonnement">Num Abonnement</span></dt>
                <dd>
                    <span>{{ geuRaccordement.numAbonnement }}</span>
                </dd>
                <dt><span jhiTranslate="sidotApp.geuRaccordement.nom">Nom</span></dt>
                <dd>
                    <span>{{ geuRaccordement.nom }}</span>
                </dd>
                <dt><span jhiTranslate="sidotApp.geuRaccordement.prenom">Prenom</span></dt>
                <dd>
                    <span>{{ geuRaccordement.prenom }}</span>
                </dd>
                <dt><span jhiTranslate="sidotApp.geuRaccordement.adresse">Adresse</span></dt>
                <dd>
                    <span>{{ geuRaccordement.adresse }}</span>
                </dd>
                <dt><span jhiTranslate="sidotApp.geuRaccordement.proprietaireParacelle">Proprietaire Paracelle</span></dt>
                <dd>
                    <span>{{ geuRaccordement.proprietaireParacelle }}</span>
                </dd>
                <dt><span jhiTranslate="sidotApp.geuRaccordement.entreprise">Entreprise</span></dt>
                <dd>
                    <span>{{ geuRaccordement.entreprise }}</span>
                </dd>
                <dt><span jhiTranslate="sidotApp.geuRaccordement.otherUsage">Other Usage</span></dt>
                <dd>
                    <span>{{ geuRaccordement.otherUsage }}</span>
                </dd>
                <dt><span jhiTranslate="sidotApp.geuRaccordement.geoparcelle">Geoparcelle</span></dt>
                <dd>
                    <div *ngIf="geuRaccordement.geoparcelleId">
                        <a [routerLink]="['/geo-parcelle', geuRaccordement.geoparcelleId, 'view']">{{ geuRaccordement.geoparcelleId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="sidotApp.geuRaccordement.agent">Agent</span></dt>
                <dd>
                    <div *ngIf="geuRaccordement.agentId">
                        <a [routerLink]="['/agent', geuRaccordement.agentId, 'view']">{{ geuRaccordement.agentId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="sidotApp.geuRaccordement.tacherons">Tacherons</span></dt>
                <dd>
                    <div *ngIf="geuRaccordement.tacheronsId">
                        <a [routerLink]="['/tacherons', geuRaccordement.tacheronsId, 'view']">{{ geuRaccordement.tacheronsId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="sidotApp.geuRaccordement.geuusage">Geuusage</span></dt>
                <dd>
                    <div *ngIf="geuRaccordement.geuusageId">
                        <a [routerLink]="['/geu-usage', geuRaccordement.geuusageId, 'view']">{{ geuRaccordement.geuusageId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/geu-raccordement', geuRaccordement.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
