<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="etatOuvrage">
            <h2><span jhiTranslate="sidotApp.etatOuvrage.detail.title">Etat Ouvrage</span> {{ etatOuvrage.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sidotApp.etatOuvrage.libelle">Libelle</span></dt>
                <dd>
                    <span>{{ etatOuvrage.libelle }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/etat-ouvrage', etatOuvrage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
